h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
p,span,a{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.mtw{
    margin-top: -30px;
}
.greybg{
    background: #f9fafb !important;
}
.container-fluid {
    width: 1250px !important;
    margin: auto !important;
    padding: 0;
}
.my_btn {
    background: #e73c3e !important;
    position: relative;
    padding: 12px 36px;
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    transition: all .4s ease-in-out;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    border: none;
}
.my_btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #000;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
    border: none;

}
.my_btn:hover::after{
    visibility: visible;
    opacity: 1;
    width: 100%;

}

.all_span_text{
    color: #e93c3e;
    font-size: 19px;
}


/* Menu Section */
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: end;
}
ul.main_top_menu {
    align-items: center;
}
ul.main_top_menu li span {
    display: flex;
    align-content: center;
    border-right: 1px solid #ddd;
    margin: 8px;
    padding-right: 10px;
    font-size: 18px;
}
ul.main_top_menu li a {
    display: block;
    padding: 10px 15px;
    font-weight: 500;
    text-decoration: none;
    transition: .4s;
    color: #000;
}
ul.main_top_menu li a:focus{
    color: #e93c3e !important;
}
/* .active{
    color: #e93c3e !important;
} */
ul.main_top_menu li:hover>a{
    color: #e93c3e;
}


/* Dropdown Section */
i.fas.fa-chevron-down {
    font-size: 10px;
}
ul.main_top_menu li {
    position: relative;
}

 ul.main_top_menu li ul{
    position: absolute;
    top: 160%;
    left: 0;
    padding-left: 10px;
    background: #fafafa;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    list-style: none;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
ul.main_top_menu li:hover ul{
    top: 125%;
    visibility: visible;
    opacity: 1;
}
ul.main_top_menu li:hover ul li a:hover{
    letter-spacing: 1px;
}
/* 2nd DropDown */
ul.main_top_menu li ul li{
    position: relative !important;
}
ul.main_top_menu li ul li ul {
    position: absolute !important;
    top: 100% !important;
    left: -105% !important;
    padding-left: 10px;
    background: #fafafa;
    visibility: hidden !important;
    opacity: 0 !important;
    display: flex;
    flex-direction: column;
    width: 250px;
    list-style: none;
    transition: all .4s ease-in-out !important;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
ul.main_top_menu li ul li:hover ul{
    top: 10% !important;
    visibility: visible !important;
    opacity: 1 !important;
}

/* Menu Call Section */

.menu_tell.clearfix {
    width: 180px;
}
span.float-left.phone_icon {
    font-size: 30px;
    transform: rotate(-45deg);
    margin-right: 7px;
    margin-left: 20px;
    color: #e73c3e;
}
.menu_btn {
    width: 150px;
    margin-left: 10px;
}

/* slider_section */
.slider_section{
    background: url(./main-banner2.jpg) no-repeat top center fixed;
    background-size: cover;
    padding: 240px 0px;
}
.slider_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: 600px;
}
.slider_content h1{
    font-size: 65px;
    margin: 20px 0px;
}
.slider_content p {
    font-size: 17px;
    font-weight: 500;
    color: #555;
}

.social_icon_slider {
    height: 200px;
    display: flex;
    align-items: end;
    justify-content: flex-start;
}
.social_icon_slider ul{
    display: flex;
}
.social_icon_slider ul li{
    display: flex;
}
.social_icon_slider ul li span {
    padding: 10px;
    position: relative;
    margin-right: 25px;
}
.social_icon_slider ul li span::before {
    content: "";
    position: absolute;
    right: -24px;
    top: 22px;
    width: 32px;
    height: 1px;
    background-color: #111;
}

.social_icon_slider ul li a {
    padding: 10px;
    color: #000;
    transition: .4s;
    font-size: 20px;
}
.social_icon_slider ul li a:hover{
    color: #e93c3e;
}

/* <!-- Deal Section --> */

.deal_section{
    border-bottom: 1px solid #ddd;
    padding: 80px 0px;
}
.deal_section ul{
    display: flex;
    justify-content: center;
}
.deal_section ul li{
    display: flex;
    margin: 0px 25px;
}

/* About Section */
.about_img{
    position: relative;
}
.about_img_text {
    position: absolute;
    top: 59%;
    left: 60%;
    background: url(./shape.png) no-repeat center center;
    background-size: contain;
    color: #e93c3e;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_img_text h1 {
    text-align: center;
    font-size: 70px;
}
.about_img_text h3 {
    font-size: 14px;
    color: #000;
    text-align: center;
}
.finix_text span{
    color: #e93c3e;
}
.finix_text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 16px;
}
.finix_text p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #606060;
    font-weight: 400;
    font-family: roboto,sans-serif;
    font-size: 16px;
}
.finix_text strong {
    font-size: 18px;
    color: #606060;
    font-weight: 400;
}

.finix_text ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    list-style: none;
}
.finix_text ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    margin-right: 8px;
    color: #e93c3e;
}

/* Why Choose Section */


.choose_text {
    background: #fafdfd;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 10px;
    transition: all .4s;

}
.choose_text:hover{
    transform: translateY(-7px);
}
.choose_text::before {
    content: "";
    position: absolute;
    top: -139px;
    left: 0;
    right: 0;
    background: #fdebeb;
    height: 70%;
    width: 90%;
    border-radius: 50%;
    margin: auto;
}

.choose_icon{
    margin-bottom: 20px;
    position: relative;
}

.choose_icon i {
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 90px;
    background-color: #fff;
    text-align: center;
    font-size: 50px;
    color: #e73c3e;
    border-radius: 50px;
    transition: all .5s;
    position: relative;
}

.choose_text:hover .choose_icon i{
    background: #e73c3e;
    color: #fff;
}
/* why_choose_img */

.why_choose_img{
    position: relative;
}
.img_play_icon {
    font-size: 45px;
    height: 80px;
    width: 80px;
    line-height: 82px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 36%;
    bottom: 60px;
    display: inline-block;
    text-align: center;
    color: #e73c3e;
    transition: all .4s;
}
.img_play_icon:hover{
    color: #fff;
    background: #e73c3e;
}
.img_play_icon::before{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    animation: playbtn 1.6s ease-out infinite;
    top: 0;
    left: 0;
    background: #e93c3e;
}
@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
        
    }

    50%{
        transform: scale(1.5);
        opacity: .7;
    } 
    100%{
        transform: scale(2);
        opacity: 0;
    }
}


/* founding_section */

.founding_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 53%;
    margin: auto;
}

/* apply_now_section */

.apply_now_text h2 {
    font-weight: 400;
    font-size: 37px;
}

.apply_counting ul {
    list-style: none;
    position: relative;
    padding-left: 60px;
}
.apply_counting ul::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 17px;
    height: calc(100% - 87px);
    background: #e73c3e;
    width: 1px;
}
.apply_counting ul li{
    margin-bottom: 30px;
    position: relative;
}
.apply_counting ul li::before {
    content: attr(data-counter);
    position: absolute;
    top: 0;
    left: -60px;
    height: 35px;
    width: 35px;
    border: 1px solid #e73c3e;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    background: #f9fafb;
    font-size: 18px;
    font-weight: 600;
    color: #e93c3e;
}
.apply_counting ul li strong {
    font-size: 22px;
    display: inline-block;
    margin-bottom: 10px;
}
.apply_counting ul li p {
    color: #606060;
}

.calculate_form {
    background: #fae8e8;
    padding: 17px;
}

.calculate_form .form-group label {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #6a6460;
    outline: none !important;
    border: none;
}
.calculate_form .form-group input {
    margin-bottom: 20px;
    font-size: 19px;
    color: #6a6460;
    outline: none !important;
    border: none;
}
.calculate_form .form-group input:focus{
    outline: none !important;
    box-shadow: none !important;
}
.calculate_form .form-group select {
    margin-bottom: 20px;
    font-size: 19px;
    color: #6a6460;
    border: none;
}
.calculate_form .form-group select:focus{
    outline: none !important;
    box-shadow: none !important;
}

/* company_value_head_section */

section.company_value {
    margin-bottom: 80px;
}

.company_value_head {
    background: #e93c3e;
    color: #fff;
    padding: 50px 40px;
    border-radius: 6px;
}
.company_value_head h2 {
    border-right: 1px solid #fff;
    font-size: 36px;
    font-weight: 400;
}
.company_value_head_call_icon {
    height: 60px;
    width: 60px;
    background: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 36px;
    transform: rotate(-45deg);
    margin-right: 7px;
    color: #e73c3e;
}
.company_value_head_call{
    margin-top: 10px;
}
.company_value_head_call a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}
/* company_value */
.company_value h2 {
    font-size: 40px;
    margin-bottom: 45px;
}
.company_value_text{
    position: relative;
    padding-left: 70px;
    margin-bottom: 23px;
}
.company_value_text h6 {
    font-size: 25px;
    margin-bottom: 14px;
}
.company_value_text p {
    font-size: 16px;
    color: #606060;
}
.value_icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
    color: #e73c3e;
}
.company_value_img {
    margin-top: 106px;
    width: 110%;
}

.professional_service_section{
    background: #f9fafb !important;
}

/* service_section */
.service_section{
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
}
.service_section ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;

}
.loan {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    position: relative;
}
.loan:hover{
    color: #000;
}
.loan::after {
    content: "";
    position: absolute;
    top: 113%;
    left: 0;
    background: #e73c3e;
    height: 1px;
    width: 0%;
}
.loan:focus{
    color: #000 !important;
}
.loan:focus::after{
    transition: all .5s;
    width: 100%;
}
.loan:focus i{
    color: #e73c3e;
}

.loan i {
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 28px 0 rgba(0,0,0,.09);
    font-size: 45px;
    color: #606060;
    border-radius: 50px;
    transition: .5s;
    text-align: center !important;
    margin: auto;
}
.loan_content h2 {
    font-size: 26px;
    padding-bottom: 15px;
}
.loan_content p {
    font-size: 18px;
    color: #606060;
    padding-bottom: 16px;
}
.loan_list h3 {
    font-size: 24px;
}
.loan_list ul {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 600;
    color: #606060;
    margin-top: 15px;
    padding-left: 23px;
    list-style: none;
    border: none !important;
    margin-bottom: 0 !important;
}
.loan_list ul li {
    position: relative;
    margin-bottom: 5px;
}
.loan_list ul li::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #e73c3e;
    border-radius: 50%;
    left: -17px;
    top: 8px;
}
.loan_footer h3 {
    font-size: 25px;
}
.service_img {
    width: 118% !important;
    margin-left: -55px;
    margin-top: 28px;
}







/* Testimonial Secction */
/* .carousel-item {
    transition:.5s ease-in-out;
}

.testimonial_control {
    position: relative;
    background: transparent;
    border: 1px solid #606060;
    top: -234px;
    left: 95%;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    margin: 15px 0px;
    overflow: hidden;
    text-align: center;
}

.testimonial_control::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 0;
    bottom: 0;
    height: 0%;
    width: 0%;
    background: #e73c3e;
    visibility: hidden;
    opacity: 0;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}
.testimonial_control:hover::after{
    top: 4px;
    left: 4px;
    height: 50%;
    width: 50%;
    visibility: visible;
    opacity: 1;
}
.testimonial_control.active::after{
    background: #e73c3e;
}

.testimonial_control:hover{
    border: 1px solid #e73c3e;
}

.testimonial_control:focus{
    border: 1px solid #e73c3e;
}

.testimonial_control:focus::after{
    height: 50%;
    width: 50%;
    visibility: visible;
    opacity: 1;
}
.curosel_div{
    position: relative;
} */


/* =================== carosel======= */

.carousel-item {
    transition: 1s ease-out;
    background: transparent !important;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 125px;
    left: 81%;
    width: 20px;
    align-items: center;
    /* align-content: center; */
    flex-direction: column;
    z-index: 200;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: transparent;
    height: 20px;
    width: 20px;
    margin: 0px;
    border-radius: 50% !important;
    overflow: hidden;
    border: 1px solid transparent;
    transition: .5s;
    z-index: 1;
}
.corsel {
    position: relative;
    background-color: transparent;
    margin: 5px 0px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #606060;
    overflow: hidden !important;
    text-align: center;
    line-height: 15px;
}
.corsel::after {
    content: "";
    position: absolute;
    top: 2.4px;
    left: 3px;
    right: 0;
    bottom: 0;
    background: #e73c3e !important;
    border: 1px solid #e73c3e;
    height: 0%;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    border-radius: 50%;
    overflow: hidden;
    z-index: -2;
}
.corsel:hover::after{
    visibility: visible;
    opacity: 1;
    height: 70%;
    width: 70%;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #e73c3e !important;
    border: 1px solid #e73c3e !important;
    transition: .7s ease-in;
    z-index: 100 !important;
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    text-align: center;

}




/* =================carosel end====== */

.testimonial_img {
    width: 400px;
    position: relative;
    left: -55px;
    top: -13px;
}
.testimonial_content p {
    font-size: 24px;
    width: 90%;
}
.testimonial_content h3 {
    font-size: 19px;
    color: #e73c3e;
}
.testimonial_content span{
    color: #606060;
}
.testimonial_quote {
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 80px;
}
.testimonial_quote i {
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 86px;
    background-color: #ffffff;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    font-size: 50px;
    color: #e73c3e;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.testimonial_quote i:hover{
    background: #e73c3e;
    color: #fff;
}





/* team_member_details */
.team_member{
    position: relative;
    overflow: hidden;
}
.team_details {
    margin-top: 20px;
}
.team_details h4{
    color: #e73c3e;
}
.team_details p{
    color: #606060;
}
.team_member_details ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 87%;
    left: 11%;
    margin: auto;
}
.team_member_details ul li {
    margin: 0px 5px;
    transform: translateY(40px);
    transition: all .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 10px;
}
.team_member_details ul li:nth-child(1){
    transition-delay: .2s;
}
.team_member_details ul li:nth-child(2){
    transition-delay: .3s;
}
.team_member_details ul li:nth-child(3){
    transition-delay: .4s;

}
.team_member_details ul li:nth-child(4){
    transition-delay: .5s;

}
.team_member_details:hover li{
    transform: translateY(-10px);
    visibility:visible;
    opacity: 1;
}
.team_member_details ul li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    font-size: 18px;
    color: #000;
    transition: .5s;
}
.team_member_details ul li a:hover{
    background: #e73c3e;
    color: #fff;
}
/* success_story_section */

.success_content{
    cursor: pointer;
}
.success_content span {
    color: #e73c3e;
    margin: 17px 0px;
    display: inline-block;
    font-family: 'Rubik', sans-serif
}
.success_content h2{
    font-size: 26px;
    transition: all .5s;
}
.success_content h2:hover{
    color: #e73c3e;
}
.success_content a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    margin-top: 8px;
    display: inline-block;
    color: #000;
    transition: all .5s;
}

.success_content:hover a{
    letter-spacing: 1px;
    color: #e73c3e;
}

 /* Footer Section   */

 .footer_section a:hover{
     letter-spacing: 1px;
     color: #e73c3e;
 }
.footer_section {
    padding: 90px 0px;
    background: #111111;
    color: #fff;
}
.footer_content1 p {
    margin-top: 30px;
    font-size: 16px;
    width: 90%;
    line-height: 30px;
}
 .footer_content1 ul {
    padding-left: 0;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
}

 .footer_content1 ul li strong {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 4px;
    display: inline-block;
}
 .footer_content1 ul li a {
    padding: 0px 9px;
    display: inline-block;
    /* margin-left: 5px; */
    font-size: 18px;
    color: #fff;
    transition: .5s;
}
.footer_content1 ul li a:hover{
    color: #e73c3e;
    letter-spacing: normal !important;
}


.footer_content2 h5 {
    border-bottom: 1px solid #606060;
    padding-bottom: 19px;
    font-size: 22px;
}
.footer_content2 ul {
    list-style: none;
    padding-left: 0;
}

.footer_content2 ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0px;
    display: block;
    font-size: 17px;
    transition: .5s;
}

.footer_content3 h5 {
    border-bottom: 1px solid #606060;
    padding-bottom: 19px;
    font-size: 22px;
}

.footer_content3 {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .5s;
}
.footer_content3 p:hover{
    color: #e73c3e;
}
.footer_hover a:hover{
    color: #e73c3e;
    letter-spacing: normal;
}

.footer_location{
    position: relative;
}
.footer_location p{
    transition: .5s;
}
.footer_hover a{
    transition: .5s;
}
.footer_location::before {
    content: "\f3c5";
    font-size: 22px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    position: absolute;
    left: -5px;
    top: 12%;
}
.footer_mail{
    position: relative;
}
.footer_mail::before {
    content: "\f0e0";
    font-size: 22px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    position: absolute;
    left: -7px;
    top: 31%;
}
.footer_teliphone{
    position: relative;
}
.footer_teliphone::before {
    content: "\f2a0";
    font-size: 25px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    position: absolute;
    left: -1px;
    top: 27%;
    transform: rotate(-45deg);
}

.footer_content3 a{
    text-decoration: none;
    color: #fff;
    padding: 7px 0px;
    display: inline-block;
    position: relative;
    transition: .3s;

}
.footer_left {
    width: 344px;
    position: relative;
    padding-left: 32px;
}
.footer_content3 span {
    width: 25px;
    display: block;
    align-self: center;
    font-size: 18px;
}

footer {
    background: #111111;
    color: #fff;
    text-align: center;
    border-top: 1px solid #4a4a4a;
    padding: 30px 0px;
}